div.xmas-elf-name-generator-wrapper {
  display: table;
  width: 100%;
  height: auto;
  min-height: 144px;
  padding: 20px;
  margin: 0 0 1rem .5rem;
  background: #ff0000;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #ff0000, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  text-shadow: -1px -1px #aa3030;
  animation: jolly 10s;
  -moz-animation: jolly 10s infinite; /* Firefox */
  -webkit-animation: jolly 10s infinite; /* Safari and Chrome */
}
@-moz-keyframes jolly /* Firefox */ {
  0% { 
    border: 2px dashed #fff; }
  25% {
    border: 2px dashed #00ff00; }
  50% {
    border: 2px dashed #ffd700; }
  75% {
    border: 2px dashed #00f2ff; }
  100% {
    border: 2px dashed #fff; }
}
@-webkit-keyframes jolly /* Safari and Chrome */ {
  0% { 
    border: 2px dashed #fff; }
  25% {
    border: 2px dashed #00ff00; }
  50% {
    border: 2px dashed #ffd700; }
  75% {
    border: 2px dashed #00f2ff; }
  100% {
    border: 2px dashed #fff; }
}
button#xmas-elf-name-generator__generate {}
div#xmas-elf-name-generator__display {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: 'Mountains of Christmas', cursive;
  font-size: 4rem;
  line-height: 1.2;
  margin: 1rem 0;
  color: #fefff0;
  text-shadow: 2px 3px #0a0a00;
  transition: all 0.5s; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    div#xmas-elf-name-generator__display {
      font-size: 5rem;
    }
  }
  @media only screen and (min-width: 992px) {
    div#xmas-elf-name-generator__display {
      font-size: 6rem;
    }
  }
div#xmas-elf-name-generator__display.jingling {
  opacity: 0;
  -ms-transform: scale(0) rotateY(1080deg); /* IE 9 */
  -webkit-transform: scale(0) rotateY(1080deg); /* Safari */
  transform: scale(0) rotateY(1080deg);
}